# Ambiente Virtual
venv/

# Arquivos do Django
db.sqlite3
/media
/static

# Arquivos de Sistema
.DS_Store

# Virtual environment
venv/

# Django specific files
db.sqlite3
.env
__pycache__/

# IDE specific files
.vscode/